/*Font face*/
@font-face {
    font-family: 'AvertaStdCY';
    src: url('../fonts/AvertaStdCY-Black.otf');
}

@font-face {
    font-family: 'AvertaStdCY';
    src: url('../fonts/AvertaStdCY-BlackItalic.otf');
}

@font-face {
    font-family: 'AvertaStdCY-Bold';
    src: url('../fonts/AvertaStdCY-Bold.otf');
}

@font-face {
    font-family: 'AvertaStdCY';
    src: url('../fonts/AvertaStdCY-BoldItalic.otf');
}

@font-face {
    font-family: 'AvertaStdCY';
    src: url('../fonts/AvertaStdCY-Extrabold.otf');
}

@font-face {
    font-family: 'AvertaStdCY';
    src: url('../fonts/AvertaStdCY-ExtraboldItalic.otf');
}

@font-face {
    font-family: 'AvertaStdCY';
    src: url('../fonts/AvertaStdCy-Extrathin.otf');
}

@font-face {
    font-family: 'AvertaStdCY';
    src: url('../fonts/AvertaStdCy-ExtrathinItalic.otf');
}

@font-face {
    font-family: 'AvertaStdCY';
    src: url('../fonts/AvertaStdCY-Light.otf');
}

@font-face {
    font-family: 'AvertaStdCY';
    src: url('../fonts/AvertaStdCY-LightItalic.otf');
}

@font-face {
    font-family: 'AvertaStdCY';
    src: url('../fonts/AvertaStdCY-Regular.otf');
}

@font-face {
    font-family: 'AvertaStdCY';
    src: url('../fonts/AvertaStdCY-RegularItalic.otf');
}

@font-face {
    font-family: 'AvertaStdCY';
    src: url('../fonts/AvertaStdCY-Semibold.otf');
}

@font-face {
    font-family: 'AvertaStdCY';
    src: url('../fonts/AvertaStdCY-SemiboldItalic.otf');
}

@font-face {
    font-family: 'AvertaStdCY';
    src: url('../fonts/AvertaStdCY-Thin.otf');
}

@font-face {
    font-family: 'AvertaStdCY';
    src: url('../fonts/AvertaStdCY-ThinItalic.otf');
}

@font-face {
    font-family: 'YesevaOne';
    src: url('../fonts/YesevaOne-Regular.ttf');
}
@font-face {
    font-family: 'AvertaStdCY';
    src: url('../fonts/AvertaStdCY-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: #FFF;
    text-decoration: none
}

a:hover {
    text-decoration: none
}

/*img{*/
/*    max-width: 100%;*/
/*}*/
:root {
    --color-violet: #67328C;
    --color-red: #D4145A;
    --color-pink: #E2217A;
    --color-yellow: #F49022;
    --color-black: #000000;
    --color-white: #FFFFFF;

}
body {
    font-family: "AvertaStdCY", sans-serif;
    line-height: 1.6;
    font-size: 14px;
    color: var(--color-black);
}
/*Header*/
.header {
    padding: 15px 0;
    transition: all 0.5s;
    z-index: 997;
    background-image: linear-gradient(rgb(0 0 0 / 80%), rgb(255 255 255 / 0%));
}
.header .violet{
    display: none;
}
.header.sticked .violet{
    display: block;
}
.header .white{
    display: block;
}
.header.sticked .white{
    display: none;
}
.header.sticked {
    background: var(--color-white);
    box-shadow: 0px 2px 20px rgba(72, 86, 100, 0.1);
    padding: 0;
}
.header .d-header{
    margin-top: 20px;
}
.header.sticked .d-header{
    margin-top: 0px;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.header .navbar .nav-item{
    padding: 0 15px;
}
.header .navbar .nav-item .nav-link{
    color: var(--color-white);
    font-size: 14px;
    font-family: "AvertaStdCY-Bold";
}
.header.sticked .navbar .nav-item .nav-link{
    color: var(--color-violet);
    font-weight: bold;
}
.header .navbar form{
    margin-left: 15px;
}
.header .navbar form input{
    border-radius: 25px;
    background: rgb(255 255 255 / 45%);
    border: 1px solid var(--color-yellow);
    min-width: 250px;
    padding-left: 2.5rem;
}
.header .navbar form .search img{
    position: absolute;
    top: 10px;
    left: 10px;
}
.nav-menu{
    margin-left: auto;
}
.nav-item .nav-link{
    padding: 13px 20px;
    display: inline-block;
    position: relative;
}
.nav-item:hover .nav-link{
    color: var(--color-yellow)!important;
    font-family: "AvertaStdCY-Bold";
}
.nav-item:hover .nav-link:before{
    width: 100%;
    opacity: 1;
}
.nav-item .nav-link::before{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-yellow);
    transition: .3s;
    opacity: 0;
}
/*Slide*/
.slide .owl-nav button{
    position: absolute;
    top: 42%;
}
/*.slide .specialBlock_1 .wrapBox {*/
/*    position: relative;*/
/*}*/
/*.slide .specialBlock_1 .wrapBox .imgBanner {*/
/*    padding-bottom: 40.6%;*/
/*    position: relative;*/
/*}*/
.slide .wrapBox .imgBanner img {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*width: 100%;*/
    height: 636px;
}
.slide .owl-nav button img{
    width: 90%;
    height: 100%;
}
.slide .owl-nav button.owl-next{
    right: 20px;
}
.slide .owl-nav button.owl-prev{
    left: 20px;
}
.slide.owl-theme .owl-nav [class*='owl-']:hover {
    background: rgb(255 255 255 / 17%);
    color: #FFF;
    text-decoration: none;
}
.slide .owl-dots{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1.5rem;
    margin-left: 15%;
    list-style: none;
}

/*Điểm đến*/
.bg-violet{
    background: var(--color-violet);
}
.bg-pink{
    background: var(--color-pink);
}
.box-destination{
    padding: 10px;
    border-radius: 10px;
    height: 170px;
}
.box-destination .description img{
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}
.box-destination .description .title{
    padding-top: 10px;
    font-weight: bold;
    font-family: "AvertaStdCY-Bold";
}
